<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="preload" href="~/Content/Theme1/images/logo.png" as="image">
    <link rel='shortcut icon' href="~/Content/Theme1/images/logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Athiti:400,600,700|Montez&display=swap" rel="stylesheet">
    @*Admitad validation *@
    <meta name="verify-admitad" content="dfe61b8b27" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RF6X1Z4SSS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RF6X1Z4SSS');
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- verify-admitad: "5b229dbc74" -->
    @Html.Partial("_Header")
    <header>
        <div class="header-bottom" id="BindCatagory">
            @*@Html.Action("BindCategories", "Home")*@
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_Footer");

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function(){
            //Load Category
             var BindCatagoryDiv = $("#BindCatagory");
             $.ajax({
                 cache: false,
                 type: "GET",
                 url: "@(Url.Action("BindCategories","Common"))",
                //data: { "id": id },
                success: function (data)
                {

                    BindCatagoryDiv.html('');
                    BindCatagoryDiv.html(data);
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    alert('Failed to retrieve category.');
                }
            });
        });


       function OpenClildCategory(id) {
           var divid = "#categoryList_" + id;
           var BindSubCatagoryDiv = $(divid);

           $.ajax({
                  cache: false,
                  type: "GET",
                  url: "@Url.Action("BindChildCategories","Common")",
                  data: { "ParentId": id },
                  success: function (data)
                  {
                     BindSubCatagoryDiv.html('');
                     BindSubCatagoryDiv.html(data);
                     $('.full-page-menu').addClass('active');
                  },
                  error: function (xhr, ajaxOptions, thrownError)
                  {
                        alert('Failed to retrieve category.');
                  }
                 });
            }
        function closePopup() {
            $('.full-page-menu').removeClass('active');
        }


        $(document).ready(function () {

            $("#ProductSearchBox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/Search",
                        type: "GET",
                        dataType: "json",
                        data: { searchText: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.title, value: item.title };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });

            $('#ProductSearchBox').on('autocompletechange change', function () {
                $.ajax({
                        url: "/api/Search",
                        type: "GET",
                        dataType: "json",
                        data: { title: this.value },
                        success: function (data) {
                            $('#SelectedProductUrl').val(data.productUrl);
                        }
                    })

            }).change();

        });

        function OpenSearchOfferProduct() {
            var url = $('#SelectedProductUrl').val();
            window.open(url, "_blank");
        };
    </script>
</body>
</html>
