<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="preload" href="~/Content/Theme1/images/logo.png" as="image">
    <link rel='shortcut icon' href="~/Content/Theme1/images/logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Athiti:400,600,700|Montez&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @Html.Partial("_Header");

    <div id="BindCatagory">
        @Html.Action("BindCategories", "Home")
    </div>

    <div>
        @RenderBody()
    </div>
    @Html.Partial("_Footer");

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        jQuery(document).ready(function(){
            //Load Category
             var BindCatagoryDiv = $("#BindCatagory");  
             jQuery.ajax({
                 cache: false,
                 type: "GET",
                 url: "@(Url.Action("BindCategories","Home"))",
                //data: { "id": id },
                success: function (data)
                {
                    BindCatagoryDiv.html('');
                    BindCatagoryDiv.html(data);
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    alert('Failed to retrieve category.');
                }
            });
        });


        jQuery(document).ready(function () {
			jQuery('nav>ul.navigation>li>a').click(function(){
				jQuery(this).siblings('.full-page-menu').addClass('active');
			});
			jQuery('.close-popup').click(function(){
				jQuery(this).parents('.full-page-menu').removeClass('active');
			});
		})
    </script>
</body>
</html>
